body {
    font-family: 'Inter', sans-serif;
    max-width: 1600px;
    background: #F7FBFA;
}
.header-div {
    position: absolute;
    left: 40px;
    top: 28px;
}
.container-header {
    display: flex;
    margin-left: 343.5px;
    margin-top: 7px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 8px;
    gap: 8px;
    width: 424px;
    height: 52px;
    border-radius: 12px;
}
.search {
    margin-left: 395px;
    margin-bottom: 100px;
}
.divider {
    margin-left: 799.5px;
    margin-top: -125px;
    width: 1px;
    height: 96px;
    background: #E1E2E2;
}
.header-div2 {
    position: absolute;
    left: 832.5px;
    top: 24px;
    width: 727.5px;
    height: 48px;
}
.nav1 {
    display: block;
    margin-left: 235.5px;
    margin-top: 15px;
    width: 78px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #202025;
}
.nav2 {
    display: block;
    margin-left: 363.5px;
    margin-top: -23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #202025;
}
.nav-btn {
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 470.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;
    width: 205px;
    height: 48px;
    border: 2px solid #555555;
    border-radius: 4px;
}
.nav-btn-text {
    color: #202025;
}
.header-restraing {
    margin-left: 735.5px;
    margin-top: -20px;
    width: 24px;
    height: 12px;
}
.section1-title {
    width: 458px;
    height: 208px;
    margin-top: 144px;
    margin-left: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 104px;
    line-height: 104px;
    color: #202025;
}
.box {
    position: absolute;
    width: 192px;
    height: 72px;
    left: 568px;
    top: 162px;
    background: #6DD3C2;
    border-radius: 48px;
}
.strelochka {
    margin-top: 21px;
    margin-left: 32px;
}
.text-section1 {
    position: absolute;
    height: 64px;
    width: 640px;
    left: 840px;
    top: 182px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #686A6C;
}
.text2-section1 {
    position: absolute;
    left: 840px;
    top: 322px;
    width: 167px;
    height: 25px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #202025;
}
.placeholder {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 1024px;
    top: 322px;
}
.pull-img {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 400px;
}
.container-section1 {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 400px;
    left: 800px;
    background: #DBFF73;
}
.container-section1-box {
    position: absolute;
    width: 640px;
    height: 92px;
    margin-top: 80px;
    margin-left: 80px;
    background: #F7FBFA;
    box-shadow: 0px 16px 40px -8px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}
.container-section1-text1 {
    position: absolute;
    top: 16px;
    left: 24px;
    width: 79px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.container-section1-text2 {
    position: absolute;
    width: 134.67px;
    height: 32px;
    top: 44px;
    left: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.container-section1-img {
    position: absolute;
    top: 48px;
    left: 24px;
}
.container-section1-text1-1 {
    position: absolute;
    width: 170.67px;
    height: 24px;
    left: 235px;
    top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.container-section1-text2-1 {
    position: absolute;
    width: 134.67px;
    height: 32px;
    top: 44px;
    left: 271px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.container-section1-img1 {
    position: absolute;
    top: 48px;
    left: 235px;
}
.container-section1-text1-2 {
    position: absolute;
    width: 170.67px;
    height: 24px;
    left: 445px;
    top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.container-section1-text2-2 {
    position: absolute;
    width: 134.67px;
    height: 32px;
    top: 44px;
    left: 481px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.container-section1-img2 {
    position: absolute;
    top: 48px;
    left: 445px;
}
.container-section1-box-title {
    position: absolute;
    width: 640px;
    height: 160px;
    top: 420px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.button1 {
    box-sizing: border-box;
    position: absolute;
    width: 308px;
    height: 64px;
    top: 620px;
    border: 2px solid #202025;
    border-radius: 4px;
}
.btn-text {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 100px;
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #010101;
}
.container-section1-vector {
    position: absolute;
    left: 188px;
    top: 25px;
}
.btn2 {
    position: absolute;
    width: 308px;
    height: 64px;
    top: 620px;
    left: 360px;
    background: #202025;
    border-radius: 4px;
}
.btn2-text {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 106px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #F7FBFA;
}
.section2 {
    position: absolute;
    top: 1200px;
}
.section2-container1 {
    position: absolute;
    width: 800px;
    height: 1200px;
    background: #F7FBFA;
}
.section2-container1-title {
    position: absolute;
    width: 519px;
    height: 240px;
    left: 80px;
    top: 128px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.section2-container1-phone-arrow{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 156px;
    left: 688px;
    background: #F7FBFA;
    border: 1px solid #F1F4F4;
    box-shadow: 0px 20px 16px -6px rgba(0, 0, 0, 0.15);
    border-radius: 80px;
}
.section2-container1-text {
    position: absolute;
    width: 504px;
    height: 128px;
    top: 944px;
    left: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #686A6C;
}
.section2-container1 {
    position: absolute;
    width: 800px;
    height: 1200px;
}
.section2-container2 {
    position: absolute;
    width: 800px;
    height: 1804px;
    left: 800px;
    background: #F1F4F4;
}
.avatar {
    position: absolute;
    top: 94px;
    left: 128px;
}
.avatar-emeil {
    position: absolute;
    width: 168px;
    height: 32px;
    top: 246px;
    left: 104px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1 {
    position: absolute;
    width: 75px;
    height: 24px;
    top: 282px;
    left: 110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2 {
    position: relative;
    left: 188px;
    top: 282px;
    width: 80px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.polygon1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 336px;
    top: 24px;
}
.text-ranking {
    position: absolute;
    width: 8px;
    height: 24px;
    left: 351px;
    top: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #202025;
}
.section2-container2-avatar2 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 400px;
}
.avatar2 {
    position: absolute;
    left: 108px;
    top: 51px;
}
.avatar-emeil2 {
    position: absolute;
    left: 134px;
    top: 215px;
    width: 108px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-2 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 109px;
    top: 256px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-2 {
    position: absolute;
    width: 80px;
    height: 24px;
    top: 256px;
    left: 188px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking2 {
    position: absolute;
    left: 336px;
    width: 40px;
    height: 40px;
}
.text-ranking2 {
    position: absolute;
    left: 15px;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.avatar3 {
    position: absolute;
    top: 494px;
    left: 128px;
}
.avatar-emeil3 {
    position: absolute;
    width: 74px;
    height: 32px;
    top: 646px;
    left: 151px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-3 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 109px;
    top: 682px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-3 {
    position: absolute;
    width: 80px;
    height: 24px;
    top: 682px;
    left: 187px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 424px;
    left: 336px;
}
.text-ranking3 {
    position: absolute;
    width: 11px;
    height: 24px;
    left: 15px;
    top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.avatar4 {
    position: absolute;
    left: 528px;
    top: 494px;
}
.avatar-emeil4 {
    position: absolute;
    left: 500px;
    top: 646px;
    width: 176px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-4 {
    position: absolute;
    left: 509px;
    top: 682px;
    width: 75px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-4 {
    position: absolute;
    left: 587px;
    top: 682px;
    width: 80px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking4 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 736px;
    top: 424px;
}
.text-ranking4 {
    position: absolute;
    width: 11px;
    height: 24px;
    left: 15px;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.avatar5 {
    position: absolute;
    left: 128px;
    top: 894px;
}
.avatar-emeil5 {
    position: absolute;
    width: 126px;
    height: 32px;
    left: 125px;
    top: 1046px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-5 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 109px;
    top: 1082px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-5 {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 187px;
    top: 1082px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking5 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 336px;
    top: 824px;
}
.text-ranking5 {
    position: absolute;
    width: 11px;
    height: 24px;
    left: 15px;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.avatar6 {
    position: absolute;
    left: 528px;
    top: 894px;
}
.avatar-emeil6 {
    position: absolute;
    width: 115px;
    height: 32px;
    left: 530px;
    top: 1046px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-6 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 509px;
    top: 1082px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-6 {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 587px;
    top: 1082px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking6 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 726px;
    top: 824px;
}
.text-ranking6 {
    position: absolute;
    width: 11px;
    height: 24px;
    left: 15px;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.avatar7 {
    position: absolute;
    left: 128px;
    top: 1294px;
}
.avatar-emeil7 {
    position: absolute;
    width: 161px;
    height: 32px;
    left: 107px;
    top: 1446px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-7 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 109px;
    top: 1482px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-7 {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 187px;
    top: 1482px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking7 {
    position: absolute;
    top: 1224px;
    left: 336px;
}
.text-ranking7 {
    position: absolute;
    width: 10px;
    height: 24px;
    left: 22px;
    top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.avatar8 {
    position: absolute;
    top: 1294px;
    left: 528px;
}
.avatar-emeil8 {
    position: absolute;
    width: 199px;
    height: 32px;
    left: 488px;
    top: 1446px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.avatar-text1-8 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 509px;
    top: 1482px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.avatar-text2-8 {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 587px;
    top: 1482px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #202025;
}
.ranking8 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1224px;
    left: 736px;
}
.text-ranking8 {
    position: absolute;
    width: 10px;
    height: 24px;
    left: 15px;
    top: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.section2-btn {
    position: absolute;
    left: 80px;
    top: 1660px;
    width: 640px;
    height: 64px;
    background: #202025;
    border-radius: 4px;
}
.section2-btn-text {
    position: absolute;
    top: 20px;
    left: 261px;
    width: 117px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    color: #F7FBFA;
}
.section3 {
    margin-top: 2655px;
    width: 1600px;
    height: 1000px;
    background: #010101;
}
.section3-container1 {
    position: absolute;
    margin-top: 250px;
    margin-left: 80px;
    width: 208px;
    height: 64px;
    background: #202025;
    border-radius: 12px;
}
.section3-avatar {
    margin-top: 12px;
    margin-left: 12px;
    height: 40px;
    width: 40px;
}
.section3-avatar-text {
    width: 128px;
    height: 36px;
    margin-top: -40px;
    margin-left: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #F7FBFA;
}
.section3-container2 {
    position: absolute;
    width: 144px;
    height: 64px;
    margin-top: 250px;
    margin-left: 304px;
    background: #202025;
    border-radius: 12px;
}
.section3-container2-img {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-left: 12px;
}
.section3-container2-text {
    width: 64px;
    height: 36px;
    margin-top: 14px;
    margin-left: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #F7FBFA;
}
.section3-title {
    position: absolute;
    width: 616px;
    height: 160px;
    margin-left: 80px;
    margin-top: 338px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #F7FBFA;
}
.mini-container-section3-text1 {
    position: absolute;
    width: 125px;
    height: 36px;
    margin-left: 80px;
    margin-top: 610px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #A6AEAD;
}
.mini-container-section3-text2 {
    position: absolute;
    margin-left: 80px;
    margin-top: 658px;
    width: 225px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: #F7FBFA;
}
.mini-container-section3-text3 {
    position: absolute;
    width: 102px;
    height: 36px;
    margin-top: 714px;
    margin-left: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #A6AEAD;
}
.section3-btn {
    position: absolute;
    width: 224px;
    height: 60px;
    margin-left: 355px;
    margin-top: 650px;
    background: #F7FBFA;
    border-radius: 4px;
}
.section3-btn-text {
    position: absolute;
    width: 96px;
    height: 24px;
    margin-top: 18px;
    margin-left: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    color: #202025;
}
.planet {
    width: 792px;
    height: 779px;
    margin-top: 110px;
    margin-left: 728px;
}
.section4-title {
    width: 467px;
    height: 160px;
    margin-top: 80px;
    margin-left: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.section4-container-arrow {
    box-sizing: border-box;
    margin-top: -90px;
    margin-left: 1388px;
    width: 60px;
    height: 60px;
    border: 2px solid #E1E2E2;
    border-radius: 60px;
}
.arrow-left {
    margin-top: 17px;
    margin-left: 17px;
}
.section4-container2-arrow {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin-top: -60px;
    margin-left: 1460px;
    background: #202025;
    border-radius: 60px;
}
.arrow-right {
    margin-top: 17px;
    margin-left: 17px;
}
.slider-img1 {
    margin-left: 80px;
    margin-top: 80px;
    width: 400px;
    height: 400px;
}
.slider-img1-2 {
    width: 128px;
    height: 128px;
    margin-top: 488px;
    margin-left: -402px;
}
.slider-img1-3 {
    width: 128px;
    height: 128px;
    margin-top: 488px;
}
.slider-phone {
    width: 128px;
    height: 128px;
    margin-top: -128px;
    margin-left: 352px;
    background: #BCE6EC;
    border-radius: 16px;
}
.slider-phone-text {
    position: relative;
    width: 33px;
    height: 32px;
    top: 46px;
    left: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.slider-text1 {
    width: 140px;
    height: 35px;
    margin-left: 80px;
    margin-top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.slider-text2 {
    width: 100px;
    height: 36px;
    margin-left: 387px;
    margin-top: -35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.slider-avatar1 {
    height: 32px;
    width: 32px;
    margin-left: 80px;
}
.slider-avatar1-text {
    width: 144px;
    height: 36px;
    margin-left: 124px;
    margin-top: -34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.slider-avatar1-text2 {
    width: 70px;
    height: 36px;
    margin-left: 410px;
    margin-top: -40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.slider2-img1 {
    width: 400px;
    height: 400px;
    margin-top: -627px;
    margin-left: 520px;
}
.slider2-img1-2 {
    width: 128px;
    height: 128px;
    margin-top: -222px;
    margin-left: -402px;
}
.slider2-img1-3 {
    width: 128px;
    height: 128px;
    margin-top: -222px;
    margin-left: 2px;
}
.slider2-phone {
    width: 128px;
    height: 128px;
    margin-left: 792px;
    margin-top: -240px;
    background: #B9A9FB;
    border-radius: 16px;
}
.slider2-phone-text {
    position: relative;
    left: 46px;
    top: 46px;
    width: 32px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.slider2-text1 {
    width: 170px;
    height: 32px;
    margin-left: 520px;
    margin-top: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.slider2-text2 {
    width: 100px;
    height: 36px;
    margin-left: 827px;
    margin-top: -35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.slider2-avatar1 {
    height: 32px;
    width: 32px;
    margin-left: 520px;
}
.slider2-avatar1-text {
    width: 144px;
    height: 36px;
    margin-left: 564px;
    margin-top: -34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.slider2-avatar1-text2 {
    width: 70px;
    height: 36px;
    margin-left: 855px;
    margin-top: -40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.slider3-img1 {
    width: 400px;
    height: 400px;
    margin-left: 960px;
    margin-top: -624px;
}
.slider3-img1-2 {
    width: 128px;
    height: 128px;
    margin-top: -222px;
    margin-left: -402px;
}
.slider3-img1-3 {
    width: 128px;
    height: 128px;
    margin-top: -222px;
    margin-left: 2px;
}
.slider3-phone {
    width: 128px;
    height: 128px;
    margin-left: 1232px;
    margin-top: -240px;
    background: #DBFF73;
    border-radius: 16px;
}
.slider3-phone-text {
    position: relative;
    left: 46px;
    top: 46px;
    width: 32px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
