body {
    width: 1600px;
    height: 1200px;
    background: #F7FBFA;
}
.header {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 96px;
}
.logo {
    margin-left: 40px;
    margin-top: 28px;
}
.header-avatar {
    display: flex;
    flex-direction: row;
    margin-left: 1304px;
    margin-top: 28px;
    width: 48px;
    height: 48px;
}
.section1-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    padding-top: 80px;
    width: 800px;
    height: 1104px;
    background: #F7FBFA;
}
.section1-container1-title {
    margin-bottom: 32px;
    width: 379px;
    height: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}