body {
    width: 1600px;
    height: 1200px;
    background: #F7FBFA;
}
.header {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 96px;
}
.logo {
    margin-left: 40px;
    margin-top: 28px;
}
.header-avatar {
    display: flex;
    flex-direction: row;
    margin-left: 1304px;
    margin-top: 28px;
    width: 48px;
    height: 48px;
}
.section1 {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    margin-top: 80px;
}
.section1-contan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 639.5px;
    height: 296px;
}
.section1-title {
    width: 639.5px;
    height: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.box {
    width: 192px;
    height: 72px;
    background: #6DD3C2;
    border-radius: 48px;
}
.strelochka{
    margin-left: 30px;
    margin-top: 15px;
}
.section1-text {
    margin-top: 520px;
    width: 535.5px;
    height: 128px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #686A6C;
}
.section1-container2 {
    width: 799.5px;
    height: 1104px;
    padding-left: 80px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background: #F1F4F4;
}
.Your-colection {
    display: flex;
    flex-direction: row;
    width: 641.5px;
    height: 36px;
}
.Your-colection-title {
    width: 200px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #686A6C;
}
.Your-colection-div {
    margin-left: 432px;
    width: 38px;
    height: 36px;
    text-align: center;
    background: #E1E2E2;
    border-radius: 12px;
}
.Your-colection-div-text {
    padding-left: 10px;
    width: 14px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.section1-container2-container1 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 20px;
    gap: 32px;
    width: 639.5px;
    height: 304px;
    background: #F7FBFA;
    border-radius: 20px;
}
.section1-container2-container1-div {
    width: 96px;
    height: 96px;
    background: rgba(225, 226, 226, 0.5);
    border-radius: 16px;
}
.section1-container2-container1-div-text {
    margin-top: 30px;
    margin-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.section1-container2-container1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 599.5px;
    height: 64px;
}
.section1-container2-container1-text1 {
    width: 599.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section1-container2-container1-text2 {
    width: 504px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #686A6C;
}
.section1-container2-container2 {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 32px;
    width: 639.5px;
    height: 136px;
    background: #F7FBFA;
    border-radius: 20px;
}
.section1-container2-container3 {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 32px;
    width: 639.5px;
    height: 136px;
    background: #F7FBFA;
    border-radius: 20px;
}
.section1-container2-container4 {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 32px;
    width: 639.5px;
    height: 136px;
    background: #F7FBFA;
    border-radius: 20px;
}
.last-section1-text {
    margin-top: 44px;
    width: 639.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #686A6C;
}