body {
    font-family: 'Inter', sans-serif;
    max-width: 1600px;
    background: #F7FBFA;
}
.header-div {
    position: absolute;
    left: 40px;
    top: 28px;
}
.container-header {
    display: flex;
    margin-left: 343.5px;
    margin-top: 7px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 8px;
    gap: 8px;
    width: 424px;
    height: 52px;
    border-radius: 12px;
}
.search {
    margin-left: 395px;
    margin-bottom: 100px;
}
.divider {
    margin-left: 799.5px;
    margin-top: -125px;
    width: 1px;
    height: 96px;
    background: #E1E2E2;
}
.header-div2 {
    position: absolute;
    left: 832.5px;
    top: 24px;
    width: 727.5px;
    height: 48px;
}
.nav1 {
    display: block;
    margin-left: 235.5px;
    margin-top: 15px;
    width: 78px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #202025;
}
.nav2 {
    display: block;
    margin-left: 363.5px;
    margin-top: -23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #202025;
}
.nav-btn {
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    left: 470.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;
    width: 205px;
    height: 48px;
    border: 2px solid #555555;
    border-radius: 4px;
}
.nav-btn-text {
    color: #202025;
}
.header-restraing {
    margin-left: 735.5px;
    margin-top: -20px;
    width: 24px;
    height: 12px;
}
.section1-container1 {
    background-image: url(/img/discover/Frame\ 1150.png);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1008px;
    width: 1600px;
    margin-top: 100px;
}
.section1-box1 {
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}
.section1-box1-title {
    margin-top: 744px;
    width: 270px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #F7FBFA;
}
.section1-container1-avatar-box {
    margin-left: 500px;
    margin-top: -65px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    width: 208px;
    height: 64px;
    background: #010101;
    border-radius: 12px;
}
.section1-avatar-text {
    margin-top: 15px;
    width: 128px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #F7FBFA;
}
.button1 {
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 80px;
    width: 308px;
    height: 64px;
    border: 2px solid #202025;
    border-radius: 4px;
}
.btn-text {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 180px;
    top: 980px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #010101;
}
.container-section1-vector {
    position: absolute;
    left: 250px;
    top: 983px;
}
.btn2 {
    margin-top: -65px;
    width: 308px;
    height: 64px;
    margin-left: 424px;
    background: #202025;
    border-radius: 4px;
}
.btn2-text {
    position: relative;
    top: 20px;
    margin-left: 100px;
    width: 98px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #F7FBFA;
}
.section1-container2 {
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 184px;
    margin-top: -200px;
    margin-left: 1040px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    background: #F7FBFA;
    box-shadow: 0px 16px 40px -8px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
}
.section1-container2-wrraper {
    width: 400px;
    height: 128px;
}
.section1-container2-text1 {
    margin-top: 28px;
    width: 400px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section1-container2-text2 {
    width: 62px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: #202025;
}
.section1-container2-text3 {
    width: 51px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section1-container2-text4 {
    margin-top: -82.5px;
    margin-left: 184px;
    width: 63px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: #202025;
}
.section1-container2-text5 {
    width: 71px;
    margin-left: 184px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section1-container2-text6 {
    margin-top: -82.5px;
    margin-left: 328px;
    width: 63px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: #202025;
}
.section1-container2-text7 {
    margin-left: 328px;
    width: 75px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.last-box-section1 {
    display: flex;
    flex-direction: row;
}
.section1-text1 {
    margin-top: 32px;
    margin-left: 144px;
    width: 31px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section1-text2 {
    margin-top: 32px;
    margin-left: 128px;
    width: 58px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section1-box-text3 {
    margin-top: 32px;
    margin-left: 12px;
    width: 82px;
    height: 32px;
    background: #E1E2E2;
    border-radius: 8px;
}
.section1-text3 {
    text-align: center;
    margin-top: 8px;
}
.section1-text4 {
    margin-top: 32px;
    margin-left: 136px;
    width: 129px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section1-box-text5 {
    margin-top: 32px;
    margin-left: 12px;
    width: 82px;
    height: 32px;
    background: #E1E2E2;
    border-radius: 8px;
}
.section1-text5 {
    text-align: center;
    margin-top: 8px;
}
.section1-text6 {
    margin-left: 136px;
    margin-top: 32px;
    width: 65px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section1-box-text7 {
    margin-top: 32px;
    margin-left: 12px;
    width: 82px;
    height: 32px;
    background: #E1E2E2;
    border-radius: 8px;
}
.section1-text7 {
    text-align: center;
    margin-top: 8px;
}
.section2 {
    padding-left: 80px;
    padding-top: 160px;
}
.section2-box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 80px;
}
.section2-box1-title {
    width: 195px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.section2-container-days {
    margin-left: 799px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: 329px;
    height: 40px;
}
.section2-days1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;

}
.section2-days1 :hover {
    background: #202025;
    color: #F7FBFA;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
}
.section2-days1-text {
    width: 60px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section2-days2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}
.section2-days2 :hover {
    background: #202025;
    color: #F7FBFA;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
}
.section2-days2-text {
    width: 60px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section2-days3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}
.section2-days3 :hover {
    background: #202025;
    color: #F7FBFA;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
}
.section2-days3-text {
    width: 65px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section2-containerNFT {
    padding-top: 64px;
}
.section2-containerNFT1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 1440px;
    height: 483px;
}
.NFT-card1 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card1-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT1 {
    width: 40px;
    height: 40px;
}
.avatar-NFT1-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified1 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT1-text {
    display: flex;
    flex-direction: row;
}
.NFT-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT1-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT1-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT1-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT1-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card2 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card2-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT2 {
    width: 40px;
    height: 40px;
}
.avatar-NFT2-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified2 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT2-text {
    display: flex;
    flex-direction: row;
}
.NFT2-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT2-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT2-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT2-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT2-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT2-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card3 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card3-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT3 {
    width: 40px;
    height: 40px;
}
.avatar-NFT3-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified3 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT3-text {
    display: flex;
    flex-direction: row;
}
.NFT3-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT3-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT3-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT3-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT3-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT3-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.container2-NFT2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 1440px;
    height: 483px;
}
.NFT-card4 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card4-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT4 {
    width: 40px;
    height: 40px;
}
.avatar-NFT4-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified4 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT4-text {
    display: flex;
    flex-direction: row;
}
.NFT4-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT4-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT4-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT4-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT4-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT4-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section2-containerNFT2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 1440px;
    height: 483px;
}
.NFT-card5 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card5-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT5 {
    width: 40px;
    height: 40px;
}
.avatar-NFT5-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified5 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT5-text {
    display: flex;
    flex-direction: row;
}
.NFT5-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT5-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT5-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT5-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT5-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT5-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card6 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card6-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT6 {
    width: 40px;
    height: 40px;
}
.avatar-NFT6-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified6 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT6-text {
    display: flex;
    flex-direction: row;
}
.NFT6-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT6-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT6-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT6-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT6-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT6-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card7 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card7-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT7 {
    width: 40px;
    height: 40px;
}
.avatar-NFT7-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified7 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT7-text {
    display: flex;
    flex-direction: row;
}
.NFT7-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT7-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT7-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT7-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT7-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT7-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card8 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card8-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT8 {
    width: 40px;
    height: 40px;
}
.avatar-NFT8-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified8 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT8-text {
    display: flex;
    flex-direction: row;
}
.NFT8-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT8-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT8-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT8-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT8-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT8-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section2-containerNFT3 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 1440px;
    height: 483px;
}
.NFT-card9 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card9-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT9 {
    width: 40px;
    height: 40px;
}
.avatar-NFT9-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified9 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT9-text {
    display: flex;
    flex-direction: row;
}
.NFT9-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT9-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT9-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT9-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT9-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT9-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card10 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card10-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT10 {
    width: 40px;
    height: 40px;
}
.avatar-NFT10-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified10 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT10-text {
    display: flex;
    flex-direction: row;
}
.NFT10-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT10-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT10-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT10-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT10-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT10-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card11 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card11-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT11 {
    width: 40px;
    height: 40px;
}
.avatar-NFT11-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified11 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT11-text {
    display: flex;
    flex-direction: row;
}
.NFT11-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT11-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT11-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT11-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT11-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT11-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT-card12 {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 483px;
}
.NFT-card12-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    margin-top: 24px;
}
.avatar-NFT12 {
    width: 40px;
    height: 40px;
}
.avatar-NFT12-name {
    width: 146px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #202025;
}
.verified12 {
    width: 24px;
    height: 24px;
    margin-left: 108px;
}
.NFT12-text {
    display: flex;
    flex-direction: row;
}
.NFT12-text1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NFT12-text1-box2 {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.NFT12-text1 {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT12-text2 {
    width: 150px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.NFT12-text3 {
    margin-left: 100px;
    width: 140.5px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.NFT12-text4 {
    margin-left: 50px;
    width: 140.5px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025;
}
.section2-btn {
    margin-left: 640px;
    width: 153px;
    height: 48px;
    border: 2px solid #555555;
    border-radius: 4px;
}
.section2-btn-text {
    position: relative;
    top: 10px;
    left: 45px;
    width: 89px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    color: #202025;
}
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    gap: 8px;
    isolation: isolate;
    width: 1600px;
    height: 1200px;
    background: #DBFF73;
}
.section3-title {
    width: 440px;
    height: 240px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.video {
    margin-left: 818px;
}
.section3-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 36px;
    gap: 12px;
    width: 254px;
    height: 64px;
    background: #F7FBFA;
    border-radius: 4px;
}
.section3-btn-text {
    width: 127px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    color: #202025;
}

.section3-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2px 8px;
    gap: 12px;
    width: 43px;
    height: 28px;
    background: #E1E2E2;
    border-radius: 12px;
}
.section3-box-text {
    width: 140px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    color: #202025;
}
.section3-container-img {
    margin-left: 800px;
    margin-top: -408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    gap: 8px;
    isolation: isolate;
    width: 800px;
    height: 1200px;
}
.section4-container1 {
    margin-left: 80px;
    margin-top: 128px;
}
.section4-container1-title {
    width: 549px;
    height: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #202025;
}
.section4-container-days {
    margin-top: -150px;
    margin-left: 1000px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: 329px;
    height: 40px;
}
.section4-days1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;

}
.section4-days1 :hover {
    background: #202025;
    color: #F7FBFA;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
}
.section4-days1-text {
    width: 60px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section4-days2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}
.section4-days2 :hover {
    background: #202025;
    color: #F7FBFA;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
}
.section4-days2-text {
    width: 60px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section4-days3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}
.section4-days3 :hover {
    background: #202025;
    color: #F7FBFA;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    padding: 8px 24px;
}
.section4-days3-text {
    width: 65px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #686A6C;
}
.section4-containerNFT {
    padding-top: 159px;
    padding-left: 80px;
}
.section4-containerNFT-row1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.section4-containerNFT1 {
    border-radius: 32px;
}
.section4-containerNFT1-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 8px;
}
.section4-containerNFT1-images-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-containerNFT1-img {
    width: 160px;
    height: 160px;
}
.section4-containerNFT1-img2 {
    width: 160px; 
    height: 160px;
}
.section4-box1 {
    width: 160px; 
    height: 160px;
    background: #BCE6EC;
    border-radius: 16px;
}
.section4-box1-text {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    width: 33px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section4-containerNFT1-text1 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 684px;
    height: 112px;
}
.section4-avatar {
    width: 32px;
    height: 32px;
}
.section4-title-container-text{
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025
}
.section4-containerNFT1-text1-row {
    width: 620px;
    height: 40px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.section4-text-container-text {
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section4-avatar-emeil {
    margin-left: -350px;
    width: 144px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    width: 620px;
    height: 40px;
}    
.section4-avatar-text {
    width: 70px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-containerNFT2 {
    border-radius: 32px;
}
.section4-containerNFT2-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 8px;
}
.section4-containerNFT2-images-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-containerNFT2-img {
    width: 160px;
    height: 160px;
}
.section4-containerNFT2-img2 {
    width: 160px; 
    height: 160px;
}
.section4-box2 {
    width: 160px; 
    height: 160px;
    background: #B9A9FB;
    border-radius: 16px;
}
.section4-box2-text {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    width: 33px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section4-containerNFT2-text1 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 76px;
    width: 400px;
}
.section4-avatar2 {
    width: 32px;
    height: 32px;
}
.section4-containerNFT2-text1-row {
    width: 620px;
    height: 40px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.section4-title-container2-text{
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025
}
.section4-text-container2-text {
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section4-avatar2-emeil {
    margin-left: -350px;
    width: 144px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-row2-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    width: 620px;
    height: 40px;    
}
.section4-avatar2-text {
    width: 70px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-containerNFT-row2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.section4-containerNFT3 {
    border-radius: 32px;
    margin-top: 32px;
}
.section4-containerNFT3-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 8px;
}
.section4-containerNFT3-images-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-containerNFT3-img {
    width: 160px;
    height: 160px;
}
.section4-containerNFT3-img2 {
    width: 160px; 
    height: 160px;
}
.section4-box3 {
    width: 160px; 
    height: 160px;
    background: #DBFF73;
    border-radius: 16px;
}
.section4-box3-text {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    width: 33px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section4-containerNFT3-text1 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 76px;
    width: 400px;
}
.section4-avatar3 {
    width: 32px;
    height: 32px;
}
.section4-title-container3-text{
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025
}
.section4-containerNFT3-text1-row {
    height: 36px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.section4-text-container3-text {
    margin-right: -100px;
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section4-avatar3-emeil {
    margin-left: -220px;
    width: 144px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-row2-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    width: 620px;
    height: 40px;
}
.section4-avatar3-text {
    margin-right: 100px;
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-containerNFT4 {
    border-radius: 32px;
    padding-top: 32px;
}
.section4-containerNFT4-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 8px;
}
.section4-containerNFT4-images-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-containerNFT4-img {
    width: 160px;
    height: 160px;
}
.section4-containerNFT4-img2 {
    width: 160px; 
    height: 160px;
}
.section4-box4 {
    width: 160px; 
    height: 160px;
    background: #FFA6D6;
    border-radius: 16px;
}
.section4-box4-text {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    width: 33px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section4-containerNFT4-text1 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 76px;
    width: 400px;
}
.section4-avatar4 {
    width: 32px;
    height: 32px;
}
.section4-containerNFT4-text1-row {
    width: 620px;
    height: 40px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.section4-title-container4-text{
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025
}
.section4-text-container4-text {
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section4-avatar4-emeil {
    margin-left: -350px;
    width: 144px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-row4-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    width: 620px;
    height: 40px;    
}
.section4-avatar4-text {
    width: 70px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-containerNFT-row3 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.section4-containerNFT5 {
    margin-top: 32px;
    border-radius: 32px;
}
.section4-containerNFT5-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 8px;
}
.section4-containerNFT5-images-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-containerNFT5-img {
    width: 160px;
    height: 160px;
}
.section4-containerNFT5-img2 {
    width: 160px; 
    height: 160px;
}
.section4-box5 {
    width: 160px; 
    height: 160px;
    background: #BCE6EC;
    border-radius: 16px;
}
.section4-box5-text {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    width: 33px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section4-containerNFT5-text1 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 684px;
    height: 112px;
}
.section4-row5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    width: 620px;
    height: 40px;
}
.section4-avatar5 {
    width: 32px;
    height: 32px;
}
.section4-avatar5-2 {
    width: 496px;
    height: 496px;
}
.section4-title-container5-text{
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025
}
.section4-containerNFT5-text1-row {
    width: 620px;
    height: 40px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.section4-text-container5-text {
    margin-right: 150px;
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section4-avatar5-emeil {
    margin-left: -200px;
    width: 144px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-avatar5-text {
    margin-right: 150px;
    width: 70px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-containerNFT6 {
    border-radius: 32px;
    padding-top: 32px;
}
.section4-avatar6-2 {
    width: 496px;
    height: 496px;
}
.section4-containerNFT6-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    gap: 8px;
}
.section4-containerNFT6-images-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section4-containerNFT6-img {
    width: 160px;
    height: 160px;
}
.section4-containerNFT6-img2 {
    width: 160px; 
    height: 160px;
}
.section4-box6 {
    width: 160px; 
    height: 160px;
    background: #FFA6D6;
    border-radius: 16px;
}
.section4-box6-text {
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    width: 33px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #202025;
}
.section4-containerNFT6-text1 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 76px;
    width: 400px;
}
.section4-avatar6 {
    width: 32px;
    height: 32px;
}
.section4-containerNFT6-text1-row {
    width: 620px;
    height: 40px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.section4-title-container6-text{
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #202025
}
.section4-text-container6-text {
    width: 100px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #686A6C;
}
.section4-avatar6-emeil {
    margin-left: -350px;
    width: 144px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
.section4-row6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    gap: 12px;
    width: 620px;
    height: 40px;    
}
.section4-avatar6-text {
    width: 70px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #202025;
}
